<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; <img src="/dist/img/logo.png" alt="Site Logo"> 2017</span>
            </div>
        </div>
    </div>
</footer>

<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/js/main.js"></script>