<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand page-scroll" href="#page-top"><img src="/dist/img/logo.png"/></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        
        <!-- /.navbar-collapse -->

        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown mega-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">What Would you like to do? <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu row">
                        <li class="col-sm-2 col-sm-offset-2">
                            <ul>
                                <li>
                                    <div class="link">
                                        <a href="/review">Review</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="link">
                                        <a href="#">Location</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-2">
                            <ul>
                                <li>
                                    <div class="link">
                                        <a href="/review">Review</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="link">
                                        <a href="#">Location</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-2">
                            <ul>
                                <li>
                                    <div class="link">
                                        <a href="/review">Review</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="link">
                                        <a href="#">Location</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-2">
                            <ul>
                                <li>
                                    <div class="link">
                                        <a href="/review">Review</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="link">
                                        <a href="#">Location</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </nav>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
