<div class="content sidebar">
    <div class="list-group">
        <a href="/request" class="list-group-item">Requests</a>
        <a href="/inquiries" class="list-group-item">Inquiries</a>
        <a href="/accountsummary" class="list-group-item">Account Summary</a>
    </div>
</div>