<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>

    <body id="page-top" class="bg-gray">

        <% include partials/header %>

        <div class="container page-content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div class="content">
                        <form action="" method="POST" role="form" class="form">
                            <legend>Create a New Account.</legend>
                            
                            <fieldset>
                                <div class="form-group">
                                    <select name="" class="form-control">
                                        <option value="" selected disabled>What bank branch did you visit?</option>
                                        <option value="">Victoria Island</option>
                                        <option value="">Ikeja</option>
                                        <option value="">Maryland</option>
                                    </select>
                                </div>
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="">What is the name of the bank attendant?</option>
                                        <option value="">Victoria</option>
                                    </select>
                                </div>
                            </fieldset>
                            
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Input field">
                                </div>
                            </fieldset>

                            <fieldset>
                                <p>Any other comments?</p>
                                <div class="form-group textarea">
                                    <textarea name="" id="input" class="form-control" rows="4" required="required"></textarea>
                                </div>
                            <fieldset>
                        
                            <button type="submit" class="btn btn-primary">Leave a Review</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
