<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>

    <body id="page-top" class="index">

        <% include partials/header %>

        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <div class="col-md-5 col-xs-12">
                            <div class="home-content">
                                <h1>Banking is as fast as you can imagine.</h1>
                                <p>We are Lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1 col-xs-12">
                            <div id="signin-carousel" class="carousel slide">
                                <div class="error"></div>
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active content-item">
                                        <legend>Log into your account...</legend>
                                        <% include partials/forms/login %>
                                        <p class="signin-link"> New to SpeedBank?
                                            <a class="page-link" data-target="#signin-carousel" data-slide-to="1"> Sign up</a> for free.
                                        </p>
                                    </div>
                                    <div class="item content-item">
                                        <legend>Sign up to get started...</legend>
                                        <% include partials/forms/signup %>
                                        <p class="signin-link">
                                            <a class="page-link" data-target="#signin-carousel" data-slide-to="0">Log in</a> to your account.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>

    </body>
</html>
