<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>

    <body id="page-top" class="bg-gray">

        <% include partials/header %>

        <div class="container page-content">
            <div class="row">
              <div class="col-sm-3 text-center">
                <% include partials/sidebar %>
              </div>
              <div class="col-md-9 col-xs-12">
                  <div class="">
                        <div class="services-tab">	
                            <ul  class="nav nav-pills">
                                <li class="active">
                                    <a  href="#new-request" data-toggle="tab">Make a New Request</a>
                                </li>
                                <li>
                                    <a href="#all-requests" data-toggle="tab">All Requests</a>
                                </li>
                            </ul>
                            <div class="tab-content clearfix">
                                    <div class="tab-pane active" id="new-request">
                                        <div class="content">
                                            <form action="" method="POST" role="form" class="form">
                                                <legend>Make a New Request.</legend>
                                                
                                                <div class="form-group">
                                                    <select name="" class="form-control" id="bank_accounts">
                                                    </select>
                                                </div>
                                            
                                                <div class="form-group">
                                                    <select class="form-control" id="branches">
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <select class="form-control" id="order_types">
                                                    </select>
                                                </div>
                                            
                                                <div class="form-group textarea">
                                                    <textarea name="" id="requirements" class="form-control" placeholder="Please enter the required details to process your request" rows="5" required="required"></textarea>
                                                </div>
                                            
                                                <button class="btn btn-primary" id="make_request">Make Request</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="all-requests">
                                        <div class="content">
                                            <legend>Past Requests.</legend>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Request ID</th>
                                                    <th>Message</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>John</td>
                                                    <td>Doe</td>
                                                    <td>john@example.com</td>
                                                    <td class="request-success">Successful</td>
                                                </tr>
                                                <tr>
                                                    <td>Mary</td>
                                                    <td>Moe</td>
                                                    <td>mary@example.com</td>
                                                    <td class="request-pending">Pending</td>
                                                </tr>
                                                <tr>
                                                    <td>john@example.com</td>
                                                    <td>mary@example.com</td>
                                                    <td>Successful</td>
                                                    <td class="request-failed">Failed</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div> 
              </div>
            </div>
        </div>
            <script src="/dist/js/requests.js"></script>
        <% include partials/footer %>

    </body>
</html>
