<form action="" method="POST" role="form" class="form">
    <legend>Create a New Account.</legend>
    
    <fieldset>
        <div class="form-group">
            <select name="" class="form-control">
                <option value="" selected disabled>Bank</option>
                <option value="">Access Bank</option>
            </select>
        </div>
    </fieldset>
    
    <fieldset>
        <div class="form-group">
            <select class="form-control">
                <option value="">Branch</option>
                <option value="">Ikeja</option>
            </select>
        </div>
    </fieldset>
    
    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="First Name">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Last Name">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Middle Name">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Address 1">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Address 2">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="date" class="form-control" id="" placeholder="Date of Birth">
        </div>
    </fieldset>

    <fieldset>
        <div class="btn-group btn-group-gender" role="group" aria-label="Gender">
          <button type="button" class="btn btn-default">Male</button>
          <button type="button" class="btn btn-default">Female</button>
        </div>
        <span class="form-info text-muted">Gender</span class="form-info text-muted">

        <div class="form-group control-hidden">
            <input name="gender" type="text" class="form-control" id="gender-btn">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Phone">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="email" class="form-control" id="" placeholder="Email">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <select class="form-control">
                <option value="">State</option>
                <option value="">Lagos</option>
            </select>
        </div>
    </fieldset>

     <fieldset>
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Religion">
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <input type="number" class="form-control" id="" placeholder="BVN">
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Create Account</button>
</form>