<div class="widget">
  <div class="panel panel-primary">
    <div class="panel-collapse collapse" id="collapseOne">
        <div class="panel-body">
            <ul class="messages">
              <li class="message left appeared">
                <div class="avatar"><img src="/dist/img/avatar3.png"/></div>
                <div class="text_wrapper">
                  <div class="text">Hello! :)</div>
                </div>
              </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control" placeholder="Type your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                </span>
            </div>
        </div>
      </div>
      <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <span class="glyphicon glyphicon-comment"></span> Inquiries?
            <div class="pull-right"> 
              <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
        </a>
    </div>
</div>
